body {
font:16px/1.2 "Helvetica Neue", Arial, Helvetica, sans-serif;
color:#595552;
}

h1,h2,h3,h4 {
font-family: 'Philosopher', sans-serif;
color: rgb(91,61,73)
}

/*menu++++++++++++++++++++++++*/
.navbar-inverse {
background-color: rgba(135, 159, 210, 0.9);
border: none;
}

.navbar-nav li, .navbar-brand {
font-size:18px;
font-weight: normal;
text-transform: uppercase;
padding-right: 24px;
padding-left: 24px;
font-family: 'Philosopher', sans-serif;
}

.navbar-inverse .navbar-nav li a {
margin:0;
color:#EEEEFF;
}

.navbar-inverse .navbar-nav li a:hover {
color:#5A83D2;
}

.navbar-inverse .navbar-nav li a:focus {
color:#5A83D2;
outline:none;
}

.navbar-inverse .navbar-nav li a:active {
color:#5A83D2;
outline:none;
}

.navbar-brand {
color: rgb(91,61,73);
}

.navbar-header {
color:#5A83D2;
outline: none;
}
/*section++++++++++++++++++++++++*/
#contact {
color:#5A83D2;
}

.section-heading {
text-align: center;
font-size: 3em;
text-shadow: 3px 4px 4px rgba(84, 54, 43, 0.8);
}

.firstheading {
text-align: left;
font-size: 1.1em; 
}

.first {
text-align: left;
font-size: 1em;
}

th {
text-transform: uppercase;
font-weight: normal;
padding-right: 30px;
width: 2%;
text-align: right;
font-size: 1.1em;
}

td {
padding-bottom: 5px;
padding-top: 15px;
text-align: right;
padding-right: 30px;
border-bottom: 1px solid;
vertical-align: middle;
padding-bottom: 24px;
padding-top: 24px;
}

#utvonalak span {
font-size: 0.7em;
}

#utvonalak table {
margin-top:2%;
color: #595552;
}

.thumbnail > img {
padding-top: 5%;
}

#pecset {
position: absolute;
left: 10%;
top:3%;
}

.thumbnail {
min-height: 720px;
-webkit-box-shadow: 7px 7px 5px 0px rgba(89, 85, 82, 0.3);
-moz-box-shadow:    7px 7px 5px 0px rgba(89, 85, 82, 0.3);
box-shadow:         7px 7px 5px 0px rgba(89, 85, 82, 0.3);
}

.carousel-inner {
-webkit-box-shadow: 7px 7px 5px 5px rgba(89, 85, 82, 0.5);
-moz-box-shadow:    7px 7px 5px 5px rgba(89, 85, 82, 0.5);
box-shadow:         7px 7px 5px 5px rgba(89, 85, 82, 0.5);
}

#kapcsolat center {
padding-bottom: 10px;
padding-top: 10px;
}

#kapcsolat center h2 {
margin: 0;
}